db.driver=com.mysql.cj.jdbc.Driver
db.url=jdbc:mysql://127.0.0.1:3306/dbname?useUnicode=true&characterEncoding=utf8&serverTimezone=Asia/Seoul&useSSL=false&allowPublicKeyRetrieval=true
db.username=dbuserName
db.password=CHANGE_ME

crypto.aes.keyBase64=CHANGE_ME_BASE64_32_BYTES
