<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.myhome.myintro.admin.mapper.AdminMapper">

    <!-- ====== 아이디 중복 체크 ====== -->
    <select id="countByAdminId" parameterType="string" resultType="int">
        SELECT COUNT(*)
        FROM tb_admin
        WHERE admin_id = #{adminId}
          AND del_yn = 'N'
    </select>

    <!-- ====== 관리자 등록 ====== -->
    <insert id="insertAdmin" parameterType="com.myhome.myintro.admin.dto.AdminDTO">
        INSERT INTO tb_admin
        (
            admin_id,
            admin_password,
            admin_name,
            admin_group,
            admin_email,
            use_yn,
            del_yn,
            reg_date,
            reg_idx,
            reg_id,
            reg_name
        )
        VALUES
            (
                #{adminId},
                #{adminPassword},
                #{adminName},
                #{adminGroup},
                #{adminEmail},
                #{useYn},
                'N',
                NOW(),
                #{regIdx},
                #{regId},
                #{regName}
            )
    </insert>

    <!-- ====== 로그인 정보 조회 ====== -->
    <select id="selectLoginInfo"
            parameterType="com.myhome.myintro.admin.dto.AdminDTO"
            resultType="com.myhome.myintro.admin.dto.AdminDTO">
        SELECT
            admin_idx,
            admin_id,
            admin_name,
            admin_email,
            admin_password,
            admin_group,
            use_yn,
            del_yn,
            login_fail_cnt ,
            last_login_date
        FROM tb_admin
        WHERE admin_id = #{adminId}
          AND del_yn = 'N'
            LIMIT 1
    </select>

    <update id="increaseLoginFail" parameterType="com.myhome.myintro.admin.dto.AdminDTO">
        UPDATE tb_admin
        SET login_fail_cnt = login_fail_cnt + 1
        WHERE admin_id = #{adminId}
          AND del_yn = 'N'
    </update>

    <update id="resetLoginFail" parameterType="com.myhome.myintro.admin.dto.AdminDTO">
        UPDATE tb_admin
        SET login_fail_cnt = 0
        WHERE admin_id = #{adminId}
          AND del_yn = 'N'
    </update>

    <update id="updateLastLoginDate" parameterType="com.myhome.myintro.admin.dto.AdminDTO">
        UPDATE tb_admin
        SET last_login_date = NOW()
        WHERE admin_id = #{adminId}
          AND del_yn = 'N'
    </update>

    <!-- ====== 로그인 시도 로그 ====== -->
    <insert id="insertLoginLog" parameterType="com.myhome.myintro.admin.dto.AdminLoginLogDTO">
        INSERT INTO tb_admin_login_log
            (admin_id, try_ip, success_yn, fail_reason, reg_date)
        VALUES
            (#{adminId}, #{tryIp}, #{successYn}, #{failReason}, NOW())
    </insert>

</mapper>
